<li>
	<article id='Peep'>
		<header>
			<h1><%=peep.title%></h1>
		</header>
		<p><%=peep.text%></p>
		<footer>
			<p>Create by: <%=peep.user.username%> (<%=peep.user.name%>) On <%=peep.created_at%> </p>
		</footer>
	</article>
</li>